* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 234, 207);
    color: rgb(54, 143, 238);
    
}
 /* .garden-envy is the div holding all the info*/

.garden-envy {
   width: 100%;
   height: 100%; 
}

/* .park-it is a div that groups all the other gardens in css grid */

/*change the grid repeat into something that makes the last column bigger*/

/* washington park and pine hollow pics are too close together, see if the margin-top is the problem*/

.park-it {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 80px;
    margin: 90px 0 0 100px;

}

ul a {
    text-decoration: none;
    color: white;
}

h1, h2 {
    font-family: sans-serif;
}

/* .banner is the img going across the screen with the nav */

.banner {
    width: 100%;
    height: 150px;
    opacity: .3;
}

/* .menu is the ul of the nav bar  .menu-items are li */

.menu {
    list-style-type: none;
    display: flex;
    
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin: 0 0 0 100px ;
}

/*get rid of gap on very right margin for .menu-items*/
.menu-items {
    width: 200px;
    height: 40px;
    background-color: rgb(212, 197, 113);
    padding: 18px 0 0 0;
    margin: 20px 30px 20px 0px;
    text-align: center;
}

/* .fest-heading is the h2 for the tulip festival*/

.fest-heading {
    margin: 100px 0 0 150px;
}

/* .fest is the tulip festival img */

.fest {
    width: 855px;
    height: 511px;
    margin: 10px 0 0 150px;
}

/* .pic are all img after the tulip festival img*/

.pic {
    width: 300px;
    height: 200px;
}

/* .wp-1, .wp-2, .wp-3 is Washington Park */

.wp-1 {
    padding-top: 80px;
}

.wp-3 {
    padding-right: 25px;
}

/*k.pha-1, .pha-2, .pha-3 are Pine Hollow*/

.pha-1 {
    padding-top: 80px;
}


.pha-3 {
    padding-right: 25px;
}

/*.tbm-1, .tbm-2, .tbm-3 are Ten Broeck Mansion*/

.tbm {
    padding-top: 80px;
}


.tbm-3 {
    padding-right: 25px;
}

/* .pry-1, .pry-2, .pry-3 are Pruyn House*/

.pry-1 {
    padding-top: 80px;
}


.pry-3 {
    padding-right: 25px;
}

/* .cherry-1, .cherry-2, .cherry-3 are Cherry Hill*/

.cherry-1 {
    padding-top: 80px;
}

.cherry-3 {
    padding-right: 25px;
}